# このファイルは、Gitリポジトリに含めないファイルやディレクトリを指定します。
# 詳細については、https://help.github.com/articles/ignoring-files/ を参照してください。

# Dependencies
**/node_modules
**/.pnp
**/.pnp.js
**/.pnpm-store
**/.pnpm-debug.log*

# Docker
.docker/
docker-compose.override.yml
deployments/docker/*/secrets/*

# Environment variables
**/.env
**/.env.local
**/.env.development
**/.env.production
**/.env.staging
**/.env.test

# Backend
back/vendor/
back/tmp/*
back/dist/
back/**/*.log
back/**/logs/
back/bin/*
back/internal/repositories/mocks/mock_university_repository.go
back/coverage.*
back/.air.toml

# Frontend
front/.next/
front/dist/
front/build/
front/out/
front/**/*.log
front/npm-debug.log*
front/pnpm-debug.log*
front/.pnp
front/.pnp.*
front/.pnpm-store
front/coverage/
front/*.pem
front/*.tsbuildinfo
front/next-env.d.ts
front/.vercel

# Testing
**/coverage
**/.nyc_output

# Debug logs
**/*.log
**/npm-debug.log*
**/pnpm-debug.log*

# IDE
.idea/
.vscode/
**/*.swp
**/*.swo

# OS
**/.DS_Store
**/Thumbs.db

# Build
**/.next
**/out
**/dist
**/build
**/*.tsbuildinfo
